/************************************** GENERAL **************************************/

@font-face 
{
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('fonts/gabriola.woff') format('woff');
}

@font-face 
{
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('fonts/dubai-light.woff') format('woff');
}

html, body
{
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0;
    padding: 0;
}

header
{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    font-family: 'Dubai Light';
    font-size: 20px;
    z-index :100;
}

main 
{
    width:100%;
    font-family: 'Dubai Light';
} 

footer 
{
    width: 100%;
    height: 50px;
    font-family: 'Dubai Light';
    color: #ffffff;
    text-align: center;
    background-color: #59095B;
}

h1 
{
    font-family: 'Gabriola';
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    background-color :#59095B;
    width: 100%;
    margin: 0;
}

h2
{
    font-size :30px;
    font-weight: lighter;
    text-align: center;
    font-style: oblique;
    background-color: #59095B;
    margin:0;
    font-family:'Dubai Light';
    color: white;
}

.fab, .fas
{
    width: 100px;
}

.btn-purple 
{
    background-color: #69465C;
    color: white;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 20px;
    text-align:center;
}

.btn-purple:hover 
{
    background-color: #59095B;
    color: white;
}



/************************************** NAVIGATION **************************************/
nav
{
    width: 100%;
    height: 100%;
}

nav>ul
{
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    padding:0;
    margin :0;
    justify-content: center;
    background-color: #59095B;
}

nav>ul>li
{
    list-style-type: none;
    display: inline-block;
    margin:10px 20px;
    align-items: center;
    padding: 0;
}

nav>ul>li>a
{
    text-decoration: none;
    color: #ffffff;
}

nav>ul>li>a:hover
{
    color:#000000;
}

/************************************** PHRASE ACCROCHE **************************************/
.no-speech 
{
    width: 100%;
    height: 100vh;
    background-image: url(./img/clavier1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display:flex;
    justify-content: center;
}

#essential 
{
    font-family: 'Gabriola';
    font-size: 3em;
    text-align: center;
    width: 100%;
    margin-top: 70vh;
    overflow: hidden;
    line-height: initial;

    background: linear-gradient(90deg,#fff,#59095B,#fff,#59095B,#fff,#59095B,#fff);
    background-repeat:round;
    background-size: 90%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
  
@keyframes animate 
{
    0% 
    {
        background-position: -500%;
    }

    100% 
    {
        background-position: 500%;
    }
}

.no-speech img
{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    border-radius:200px;
    border: 2px solid black;
    opacity: 0.6;
}

/************************************** CV - PARCOURS **************************************/
.bloc-cv 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    color:white;
}

#parcours
{
    position: relative;
    max-width: 1000px;
    height:570px;
    max-height:570px;
    color:#fff;
    display: flex;
    flex-flow: column;
    justify-content: center; 
    overflow: hidden;
    margin: 30px auto 0 auto;
    border: 1px solid #59095B;
    background-color: #69465C;
}

#softskills
{   
    position: absolute;
    bottom : 55px;
    left:-170px;
    width: 500px;
    height: 40px;
    background-color: #69465C;
    color: white;
    transform: rotate(45deg);
    transition: 2s all;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    cursor: pointer;
}

#technos
{
    position: absolute;
    bottom : 90px;
    left:-150px;
    width: 500px;
    height: 40px;
    background-color: #69465C;
    color: white;
    transform: rotate(45deg);
    transition: 2s all;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    cursor: pointer;
} 


#experiences
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #69465c00;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

#softskills>.ste:hover,#technos>.ste:hover
{
    color: black;
}

#softskills .p, #technos .p
{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

#experiences .p
{
    font-size:20px;
    line-height:25px;
    margin: 0;
    padding: 0;
}

/************************************** PROJETS **************************************/
#entete
{
    width:100%;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 150px auto 0 auto; 
}


.celgrid
{
    background-size: cover;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.celgrid:hover
{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#gridcontent
{
    max-width: 1000px;
    height: 800px;
    max-height:800px;
    height: 500px;
    max-height:500px;
    margin:70px auto;
    display: grid;                                      /*mise en place du grid*/
    grid-template-rows: 100px 100px 100px 100px 100px;  /*hauteur des lignes*/
    grid-template-columns: 1fr 1fr 1fr 1fr;             /*largeur des colonnes*/                           
    grid-gap : 10px;                                     /*espaces entre les éléments*/
}

#cel1
{
    background-image: url(./img/hackcess.jpg);
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

#cel2
{
    background-image: url(./img/travel.jpg);
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
}

#cel3
{
    background-image: url(./img/jungle-accueil.jpg);
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 4;
}

#cel4
{
    background-image: url(./img/portfoliov1.jpg);
    grid-column-start:1; 
    grid-column-end:1; 
    grid-row-start:3; 
    grid-row-end: 5;
}

#cel5
{
    background-image: url(./img/nevinator.jpg);
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start:5 ; 
    grid-row-end: 5;
}

#cel6
{
    background-image: url(./img/lfmr.jpg);
    grid-column-start: 4; 
    grid-column-end: 4; 
    grid-row-start: 4; 
    grid-row-end: 4;
}

#cel7
{
    background-image: url(./img/nevinator-logo1.png);
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 5; 
    grid-row-end: 5;
}

#cel8
{
    background-image: url(./img/DSM.png);
    grid-column-start: 3; 
    grid-column-end:3; 
    grid-row-start:3; 
    grid-row-end: 5;
}

#cel9
{
    background-image: url(./img/casse-brique.png);
    grid-column-start:2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 4;
}

#cel10
{
    background-image: url(./img/logo-playstation.png);
    grid-column-start:3; 
    grid-column-end:3; 
    grid-row-start:2; 
    grid-row-end: 2;
}

#cel11
{
    background-image: url(./img/wild-circus.png);
    grid-column-start:2; 
    grid-column-end:3; 
    grid-row-start:4; 
    grid-row-end: 6;
}

#overlay 
{	
    position:fixed;
    top: 50px; 
    left: 0;
    bottom:0;
    right:0;
    background-color: hsla(0, 0%, 0%, 0.9);
    z-index: 60;
    display:none;
}

#modal 
{
    border:5px solid #59095B ;  
    border-radius: 5px;
    min-width: 50vw;
    max-width:80vw;
    min-height: 50vh;
    max-height: 80vh;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;
    background:black;
    /* display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
    z-index: 65;
    display:none;
    text-align: center;
}

.close
{
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    border:5px solid #59095B;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    right:-15px;
    top: -15px;
    margin: 0;
    cursor: pointer;
}










/************************************** CONTACT **************************************/
#section-contact
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white; 
    background-image: url(./img/clavier1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form
{
    padding : 50px 0;
}


form textarea
{
    width: 180px;
}

form input,textarea
{
    padding: 5px;
}

/************************************** MOODBOARD **************************************/
.slide 
{
    width: 00vw;
    height: auto;
}

.wrapper 
{
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-200vh);
    transform-origin: top left;
}

.outer-wrapper 
{
    width: 200vh;
    height: 200vw;
    transform: rotate(-90deg) translateX(-200vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar 
{
    display: none;
}

.slide img 
{
    width: 20vw;
}

/************************************** FOOTER **************************************/
