/************************************** GENERAL **************************************/

@font-face 
{
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('fonts/gabriola.woff') format('woff');
}

@font-face 
{
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('fonts/dubai-light.woff') format('woff');
}

html, body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header
{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    font-family: 'Dubai Light';
    font-size: 20px;
    z-index :100;
}

main 
{
    width:100%;
    font-family: 'Dubai Light';
    background-color: black;
    padding-bottom:20px;
} 

footer 
{
    width: 100%;
    height: 50px;
    font-family: 'Dubai Light';
    color: #ffffff;
    text-align: center;
    background-color: #59095B;
}

h1 
{
    font-family: 'Gabriola';
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    background-color :#59095B;
    width: 100%;
    margin: 0;
}

p
{
    margin:0;
    padding:0;
    line-height: 40px;
    vertical-align: middle;
}

.btn-purple 
{
    background-color: #69465C;
    color: white;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.btn-purple:hover 
{
    background-color: #59095B;
    color: white;
}



/************************************** NAVIGATION **************************************/
nav
{
    width: 100%;
    height: 100%;
}

nav>ul
{
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    padding:0;
    margin :0;
    justify-content: center;
    background-color: #59095B;
}

nav>ul>li
{
    list-style-type: none;
    display: inline-block;
    margin:10px 20px;
    align-items: center;
    padding: 0;
}

nav>ul>li>a
{
    text-decoration: none;
    color: #ffffff;
}

nav>ul>li>a:hover
{
    color:#000000;
}

/************************************** PHRASE ACCROCHE **************************************/
.no-speech 
{
    width: 100%;
    height: 100vh;
    background-image: url(./img/clavier1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display:flex;
    justify-content: center;
}

#essential 
{
    font-family: 'Gabriola';
    font-size: 3em;
    text-align: center;
    width: 100%;
    margin-top: 70vh;
    /* position: relative; */
    overflow: hidden;
    line-height: initial;

    background: linear-gradient(90deg,#fff,#59095B,#fff,#59095B,#fff,#59095B,#fff);
    background-repeat:round;
    background-size: 90%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
  
@keyframes animate 
{
    0% 
    {
        background-position: -500%;
    }

    100% 
    {
        background-position: 500%;
    }
}

img
{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    border-radius:200px;
    border: 2px solid black;
    opacity: 0.6;
}

/************************************** CV - PARCOURS **************************************/
.bloc-cv 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    color:white;
}

#parcours
{
    border-radius: 10px;
    position: relative;
    max-width: 1000px;
    height:500px;
    max-height:500px;
    background-color: #59095B;
    color:#fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid black;    
    overflow: hidden;
    margin: 0 auto;
}

#softskills
{   
    position: absolute;
    bottom : 55px;
    left:-170px;
    width: 500px;
    height: 40px;
    background-color: #69465C;
    color: white;
    transform: rotate(45deg);
    transition: 2s all;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    cursor: pointer;
}

#technos
{
    position: absolute;
    bottom : 90px;
    left:-150px;
    width: 500px;
    height: 40px;
    background-color: #69465C;
    color: white;
    transform: rotate(45deg);
    transition: 2s all;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    cursor: pointer;
} 


#experiences
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #69465C;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

.ste
{
    height: 40px;
    text-align: center;
    font-size: 35px;
    font-style: oblique;
    background-color: #59095B;
}

#softskills>.ste:hover,#technos>.ste:hover
{
    color: black;
}

#softskills .p, #technos .p
{
    text-align: center;
    font-size: 1.5rem;
}

#experiences .p
{
    font-size:20px;
    line-height:25px ;
}
/************************************** CONTACT **************************************/
#section-contact
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white; 
    background-image: url(./img/clavier1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form
{
    padding : 50px 0;
}


form textarea
{
    width: 180px;
}

form input,textarea
{
    padding: 5px;
}

/************************************** MOODBOARD **************************************/
.slide 
{
    width: 00vw;
    height: auto;
}

.wrapper 
{
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-200vh);
    transform-origin: top left;
}

.outer-wrapper 
{
    width: 200vh;
    height: 200vw;
    transform: rotate(-90deg) translateX(-200vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* ::-webkit-scrollbar 
{
    display: none;
} */

.slide img 
{
    width: 20vw;
}

/************************************** FOOTER **************************************/
